@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);





#dropdown-menu-20 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-20 .navbar-brand a {
  font-family: 'Droid Serif', serif;
}
#dropdown-menu-20 .nav .link,
#dropdown-menu-20 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-20 .navbar,
#dropdown-menu-20 .dropdown-menu {
  background: #796194;
}
#dropdown-menu-20 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-20 .dropdown-menu a:hover,
#dropdown-menu-20 .dropdown-menu a:focus {
  background: #6f5988;
}
#dropdown-menu-20 .navbar-toggler {
  color: #000000;
}
#header4-7 B {
  font-family: 'Droid Serif', serif;
  color: #f8c4bb;
}
#header4-7 H1 {
  text-align: center;
}
#header4-7 P {
  color: #d9534f;
  font-family: 'Droid Serif', serif;
}
#msg-box3-16 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-16 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-16 .mbr-section-title {
  text-align: center;
  font-family: 'Droid Serif', serif;
  font-size: 46px;
}
#msg-box3-16 .mbr-section-title B {
  font-size: 36px;
  color: #fed5c5;
}
#msg-box3-16 .lead {
  color: #fed5c5;
  font-family: 'Open Sans', sans-serif;
}
#features1-b H4 {
  text-align: right;
  font-size: 22px;
}
#features1-b B {
  font-size: 21px;
  color: #796194;
}
#social-buttons2-g .mbr-section-title {
  color: #fed5c5;
}
#contacts1-f P {
  color: #fed5c5;
  text-align: center;
  font-size: 19px;
}
#contacts1-f STRONG {
  color: #796194;
}
#contacts1-f UL {
  color: #d0e9f2;
}
#contacts1-f B {
  font-size: 20px;
  color: #fed5c5;
}



#dropdown-menu-29 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-29 .navbar-brand a {
  font-family: 'Droid Serif', serif;
}
#dropdown-menu-29 .nav .link,
#dropdown-menu-29 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-29 .navbar,
#dropdown-menu-29 .dropdown-menu {
  background: #796194;
}
#dropdown-menu-29 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-29 .dropdown-menu a:hover,
#dropdown-menu-29 .dropdown-menu a:focus {
  background: #6f5988;
}
#dropdown-menu-29 .navbar-toggler {
  color: #000000;
}
#msg-box4-2y .mbr-section-title B {
  color: #000000;
}
#msg-box4-2y .lead P {
  color: #000000;
  font-family: 'Droid Serif', serif;
}
#msg-box1-2z H2 {
  text-align: right;
  font-family: 'Droid Serif', serif;
}
#msg-box1-2z B {
  color: #000000;
}
#social-buttons2-2d .mbr-section-title {
  color: #fed5c5;
}
#contacts1-2e P {
  color: #fed5c5;
  text-align: center;
  font-size: 19px;
}
#contacts1-2e STRONG {
  color: #796194;
}
#contacts1-2e UL {
  color: #d0e9f2;
}
#contacts1-2e B {
  font-size: 20px;
  color: #fed5c5;
}



#dropdown-menu-3i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3i .navbar-brand a {
  font-family: 'Droid Serif', serif;
}
#dropdown-menu-3i .nav .link,
#dropdown-menu-3i .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3i .navbar,
#dropdown-menu-3i .dropdown-menu {
  background: #796194;
}
#dropdown-menu-3i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3i .dropdown-menu a:hover,
#dropdown-menu-3i .dropdown-menu a:focus {
  background: #6f5988;
}
#dropdown-menu-3i .navbar-toggler {
  color: #000000;
}
#msg-box4-3j .mbr-section-title B {
  color: #000000;
}
#msg-box4-3j .lead P {
  color: #000000;
  font-family: 'Droid Serif', serif;
}
#msg-box1-3k H2 {
  text-align: right;
  font-family: 'Droid Serif', serif;
}
#msg-box1-3k B {
  color: #000000;
}
#social-buttons2-3m .mbr-section-title {
  color: #fed5c5;
}
#contacts1-3n P {
  color: #fed5c5;
  text-align: center;
  font-size: 19px;
}
#contacts1-3n STRONG {
  color: #796194;
}
#contacts1-3n UL {
  color: #d0e9f2;
}
#contacts1-3n B {
  font-size: 20px;
  color: #fed5c5;
}



#dropdown-menu-3o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3o .navbar-brand a {
  font-family: 'Droid Serif', serif;
}
#dropdown-menu-3o .nav .link,
#dropdown-menu-3o .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3o .navbar,
#dropdown-menu-3o .dropdown-menu {
  background: #796194;
}
#dropdown-menu-3o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3o .dropdown-menu a:hover,
#dropdown-menu-3o .dropdown-menu a:focus {
  background: #6f5988;
}
#dropdown-menu-3o .navbar-toggler {
  color: #000000;
}
#msg-box4-3p .mbr-section-title B {
  color: #000000;
  font-size: 36px;
}
#msg-box4-3p .lead P {
  color: #000000;
  font-family: 'Droid Serif', serif;
}
#msg-box1-3q H2 {
  text-align: right;
  font-family: 'Droid Serif', serif;
}
#msg-box1-3q B {
  color: #000000;
}
#social-buttons2-3s .mbr-section-title {
  color: #fed5c5;
}
#contacts1-3t P {
  color: #fed5c5;
  text-align: center;
  font-size: 19px;
}
#contacts1-3t STRONG {
  color: #796194;
}
#contacts1-3t UL {
  color: #d0e9f2;
}
#contacts1-3t B {
  font-size: 20px;
  color: #fed5c5;
}

#testimonials1-42 .mbr-section-title {
  color: #fed5c5;
}
#dropdown-menu-3w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-3w .navbar-brand a {
  font-family: 'Droid Serif', serif;
}
#dropdown-menu-3w .nav .link,
#dropdown-menu-3w .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-3w .navbar,
#dropdown-menu-3w .dropdown-menu {
  background: #796194;
}
#dropdown-menu-3w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-3w .dropdown-menu a:hover,
#dropdown-menu-3w .dropdown-menu a:focus {
  background: #6f5988;
}
#dropdown-menu-3w .navbar-toggler {
  color: #000000;
}
#social-buttons2-40 .mbr-section-title {
  color: #fed5c5;
}
#contacts1-41 P {
  color: #fed5c5;
  text-align: center;
  font-size: 19px;
}
#contacts1-41 STRONG {
  color: #796194;
}
#contacts1-41 UL {
  color: #d0e9f2;
}
#contacts1-41 B {
  font-size: 20px;
  color: #fed5c5;
}

#content4-4d P {
  text-align: center;
}
#dropdown-menu-46 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-46 .navbar-brand a {
  font-family: 'Droid Serif', serif;
}
#dropdown-menu-46 .nav .link,
#dropdown-menu-46 .dropdown-item {
  font-size: 1em;
  color: #000000;
}
#dropdown-menu-46 .navbar,
#dropdown-menu-46 .dropdown-menu {
  background: #796194;
}
#dropdown-menu-46 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-46 .dropdown-menu a:hover,
#dropdown-menu-46 .dropdown-menu a:focus {
  background: #6f5988;
}
#dropdown-menu-46 .navbar-toggler {
  color: #000000;
}
#social-buttons2-4a .mbr-section-title {
  color: #fed5c5;
}
#contacts1-4b P {
  color: #fed5c5;
  text-align: center;
  font-size: 19px;
}
#contacts1-4b STRONG {
  color: #796194;
}
#contacts1-4b UL {
  color: #d0e9f2;
}
#contacts1-4b B {
  font-size: 20px;
  color: #fed5c5;
}
